{% extends 'base.html.twig' %}

{% block title %}Blockbuster - Film List{% endblock %}

{% block body %}

    {% for film in films %}
        <form action="{{ path('add_rental') }}" method="POST">
            <div class="film">
                <div class="film_title">
                    {{ film.title | capitalize }}
                </div>
                <div class="film-language">
                    {{ film.language }}
                </div>
                <div class="film-description">
                    {{ film.description }}
                </div>
                <div class="release-year" >
                    {{ film.releaseYear }}
                </div>
                <div class="film-rating">
                    {{ film.rating }}
                </div>
                <div class="film-length">
                    {{ film.length }}min
                </div>
                <div class="film-cost">
                    ${{ film.rentalRate }}
                </div>
                {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button class="add_movie" type="submit">add film </button>
                {%  endif %}
                <input type="hidden" name="film_id" value="{{ film.id }}">
                <input type="hidden" name="customer_id" value="{{ app.user.id }}">
            </div>
        </form>
    {% endfor %}

    {% if totalPages > 1 %}
        <ul class="pagination pagination-sm">
            {# `«` arrow  #}
            <li {{ currentPage == 1 ? 'class="disabled"' }}>
                <a href="{{ path('app_film', {page: 1 }) }}">«</a>
            </li>

            {# Render  each page number #}
            {% for i in currentPage -3 .. currentPage + 3 %}
                <li {{ currentPage == i ? 'class="active"' }}>
                    <a href="{{ path('app_film', {page: i}) }}"> {{ i }}</a>
                </li>
            {% endfor %}

            {# `»` arrow #}
            <li {{ currentPage == totalPages ? 'class="disabled"' }}>
                <a href="{{ path('app_film', {page: totalPages}) }}">»</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
