@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Cabin:ital@1&family=Dosis&family=IBM+Plex+Sans:wght@300&family=Mulish:wght@200&family=Oxygen&display=swap');

nav.navbar {
    background-color: black;
    height : 60px;
    width: 100%;
    align-items: center;
    font-family: 'Archivo', sans-serif;
}

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav.nav-left {
    flex: 0.2;
}
nav.nav-center {
    flex: 0.6;
}
nav.nav-right {
    flex: 0.2;
}

nav ul{
    list-style:  none;
    display: inline;
}

nav ul > li {
    margin-left: 15px;
    display: inline-flex;
}

nav ul > li:hover{
    cursor: pointer;
}

.film {
    font-family: 'Archivo', sans-serif;
    width:100%;
    height: 60px;
    background-color: white;
    color: black;
    border: 1px solid #eeeeee;
//    font-size: large;
    margin-top : 4px;
    align-items: center !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.12);
    display:inline-flex;
}

.film:hover {
    background-color: #e0e0e0;
}

.film_title {
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
}

.release-year,  .film-language, .film-rating, .film-length , .film-cost{
    margin-left: 20px;
}

.film-description {
    margin-left: 20px;
    font-size: x-small;
}

button.add_movie {
    background-color: black;
    color:white;
    margin-left :30px;
    display: inline-flex;
}

ul.pagination, ul.pagination-sm  {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul.pagination > li {
    display: inline-block;
    padding :5px;
    border: 1px solid #eee;
    font-size: x-large;
    background-color: black;
    color: #eeeeee;
}

ul.pagination > li > a:link,ul.pagination > li > a:visited {
        background-color: black;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid #eee;
        border-radius: 10px;
}
