{% extends 'base.html.twig' %}

{% block title %}Blockbuster - Film List{% endblock %}

{% block body %}

    {% for rental in rentals %}
            <div class="film">
                <div class="release-year" >
                    {{ rental['title'] }}
                </div>
                <div class="release-year" >
                    {{ rental['description'] }}
                </div>
                <div class="release-year" >
                    {{ rental['release_year'] }}
                </div>
                <div class="rental_return_date">
                    {{ rental['rental_date']  }}
                </div>
                <div class="rental_return_date">
                    {{ rental['return_date']  }}
                </div>

            </div>
    {% endfor %}

{% endblock %}
