<nav class="navbar">
    <div class="nav-left">
       <a href="/"> <img src="{{ asset('images/Blockbuster-grayscale.png') }}" alt="logo" /> </a>
    </div>
    <div class="nav-center"></div>
    <form method="post" action="">
    <input type="text" name="searchInput" placeholder="search..." >
    <button type="submit" >Search</button>
    </form>
        <ul>
            <li><a href="{{ path('app_film') }}"> Films</a> </li>
            <li><a href="{{ path('view_rentals') }}"> Rentals</a> </li>
        </ul>

    <div class="nav-right">
        <ul>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                 <li><a href="/login">Login  </a></li>
                 <li><a href="/signup">Sign Up </a></li>
            {% else %}
                <li><a href="{{ path('app_logout') }}">Logout  </a></li>
            {%  endif %}
        </ul>
    </div>
</nav>